body{
	
}

h1 {
 color: red;
 
 font-size: 40px;
}

h2{
	color: blue;
}


#professionalexp{
	color: green;
}

.container{
	background: lightgrey;
	margin: 16px;
	padding: 16px;
}

.first{
	background: yellow;
}

.parent-container{
}
